@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?dnfa9');
	src:url('../fonts/icomoon.eot?#iefixdnfa9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?dnfa9') format('woff'),
		url('../fonts/icomoon.ttf?dnfa9') format('truetype'),
		url('../fonts/icomoon.svg?dnfa9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}
.icon-mail:before {
	content: "\e602";
}
.icon-feed:before {
	content: "\e603";
}
.icon-double-angle-left:before {
	content: "\e604";
}
.icon-double-angle-right:before {
	content: "\e605";
}
.icon-double-angle-up:before {
	content: "\e606";
}
.icon-double-angle-down:before {
	content: "\e607";
}
.icon-reorder:before {
	content: "\e608";
}
.icon-tag:before {
	content: "\e609";
}
