@import "lib/neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 0px;
$grid-columns: 10;
$max-width: 1024px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 10);
$mobile: new-breakpoint(max-width 480px 10);
