@import "compass/reset";
@import "lib/bourbon/bourbon";
@import "lib/neat/neat";
@import "grid-settings";
@import "syntax";
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import "lib/jquery.mmenu";
@import "fonts";
@import "helper";


html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #333;
	text-rendering: optimizeLegibility;
	background: #eee;
	overflow: auto;
}

a {
	color: #222;
	text-decoration: none;
}

#menu {
	ul {
		li {
		}
		li.avatar {
			text-align: center;		
			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
			span.social {
				a {
					@include inline-block;		
					color: rgba(201, 200, 200, 0.8);
					font-size: 20px;
					padding: 0 10px;
					&:hover {
						color: white;
					}
				}
			}
		}
		li.about {
		}
	}
}

#content {
	@include outer-container;
	font-size: 16px;
	line-height: 26px;
	padding: 0 40px;
	padding-bottom: 40px;
	background: #fff;
	border-top: 3px solid #45ADA8;
	box-shadow: 0px 0px 6px rgba(100, 100, 101, .6);
	header {
		padding: 40px 0;
		border-bottom: 1px solid #000;
		a.menu-button {
			float: right;
			font-size: 30px;
		}
		h1 {
			font-size: 2.5em;
		}
		h2 {
			font-size: 1.2em;
			padding-top: 5px;
		}
	}
	#posts,#post {
		margin-bottom: 20px;
		article.post {
			margin-top: 80px;
			border-bottom: 3px solid #eee;
			h1.post-title {
				text-align: center;
				font-size: 1.5em;
				margin-bottom: 20px;
			}
			time {
				color: grey;
			}
			div.post-content {
				margin-bottom: 20px;
			}
			footer.post-footer {
				color: #555;
				font-size: 14px;
				padding-bottom: 30px;
				ul {
					li {
						display: inline;
						padding: 0 10px;
					}
				}
			}
		}
	}
	footer#pagination {
		font-size: 30px;
		text-align: center;
		margin-top: 40px;
		span.current {
			font-weight: 200;
			color: #45ADA8;
			margin: 0 100px;
		}
	}
}

@import "tablet";
@import "mobile";
